@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<dd>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
    <dd class="col-sm-2">
        <img src="@Model.Walker.ImageUrl" alt="avatar" />
    </dd>

        <dd class="col-sm-8">
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </dd>
    <dd class="col-sm-8">
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.NeighborhoodId</span>
        </dd>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

<div class="row">
    <section class="col-8 container mt-5">
        <h1 class="text-left">Recent Walks</h1>

        <div class="row">
            @foreach (Walks walk in Model.Walks)
            {
                <div class="card m-4" style="width: 18rem;">
                       <ul>
                        <li>
                            <label class="font-weight-bold">Date:</label>
                            <span>@walk.Date</span>
                        </li>
                        <li>
                            <label class="font-weight-bold">Client:</label>
                            <span>@walk.WalkerId</span>
                        </li>
                        <li>
                            <label class="font-weight-bold">Duration:</label>
                            <p>@walk.Duration</p>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </section>

<section class="col-lg-4 col-md-8 container mt-5">
    <h3>Total Walk Time:
        @{
            double totalSeconds = Model.Walks.Sum(w => w.Duration);
            double totalMinutes = totalSeconds / 60.0;

            double hours = totalMinutes/ 60.0;

            double minutesLeft = totalMinutes % 60.0;
            if (hours < 1.0)
            {
                hours = 0;
                minutesLeft = totalMinutes;
            }
        }
                <span>@{
                        @Math.Floor(hours)
                    }hr @{
                        @Math.Floor(minutesLeft)
                    }min</span>
            </h3>
        </section>
    </div>
</div>
